*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.container img{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 75px;
    padding-right: 0px;
    height: 75px; 
    width: 290px;
}

.container ul{
    display: flex;
    color: black;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    gap: 20px;
    text-decoration: none;
    padding-left: 670px;
    padding-bottom: 30px;
}

.container nav ul li a{
    text-decoration: none;
    color: black;
}

.container .icons{
    display: flex;
    padding-right: 125px;
    padding-bottom: 30px;
    align-items: center;
    gap: 30px;
}

#icons2{
    display: none;
    position: absolute;
    top: 7%;
    right: 5%;
    font-size: 30px;
}

.category{
    display: flex;
    border: 0px solid gray;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* font-size: 30px; */
    font-weight: bolder;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.category p{
    font-size: 30px;
}

.first-page{
    width: 100%;
    display: flex;
    gap: 50px;
    /* align-items: flex-start; */
}

.food-items{
    margin-top: 70px;
    margin-left: 140px;
    height: 672px;
    width: 17%;
    box-sizing: border-box;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: sticky;
    top: 50px;
}

.food-items ul li{
    list-style: none;
    padding: 12px;
    box-sizing: content-box;
    border: 1px solid whitesmoke;
}

.food-items ul li a{
    color: black;
    text-decoration: none;
}

.first-page .food-items ul li:hover{
    background-color: lightgrey;
}

.first-page .right-side{
    width: 70%;
}

.first-page .right-side .search-box{
    position: relative;
    height: 50px;
    width: 90%;
    /* margin-left: 30px; */
    margin-top: 70px;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 15px;
    overflow: hidden;
}

.first-page .search-box input{
    padding: 10px 40px 10px 15px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    outline: none;
}

.biryani{
    margin-top: 12px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.biryani p{
    font-size: 27px;
}

.right-side .biryani-items{
    display: flex;
    gap: 10px;
}

.mutton-box, .naan-box, .pk-box, .mk-box, .dm-box{
    border: 1px solid black;
    box-sizing: border-box;
    height: 130px; 
    width: 44.5%;
    display: flex;
}

.mutton-image img{
    padding-top: 10px;
    padding-left: 5px;
    height: 120px;
    width: 120px;
    border: none;
    border-radius: 15px;
}

.mutton-box-content p{
    padding-top: 18px;
    padding-left: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.mutton-box-content .rupee220{
padding-top: 5px;
color: lightgreen;
font-size: medium;
/* font-weight: bold; */
}

.button{
    /* background-color: orange;
    color: white; */
    padding-top: 18px;
    padding-left: 390px;
    padding-right: 5px;
    margin-left: 50px;
    position: relative;
}

.buttonb1{
    padding-top: 18px;
    padding-left: 162px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb2{
    padding-top: 18px;
    padding-left: 82px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb3{
    padding-top: 18px;
    padding-left: 82px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb4{
    padding-top: 18px;
    padding-left: 82px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb5{
    padding-top: 18px;
    padding-left: 62px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb6{
    padding-top: 18px;
    padding-left: 72px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb7{
    padding-top: 18px;
    padding-left: 72px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb8{
    padding-top: 18px;
    padding-left: 72px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb9{
    padding-top: 18px;
    padding-left: 72px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb10{
    padding-top: 18px;
    padding-left: 115px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb11{
    padding-top: 18px;
    padding-left: 72px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb12{
    padding-top: 18px;
    padding-left: 72px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb13{
    padding-top: 18px;
    padding-left: 72px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb14{
    padding-top: 18px;
    padding-left: 72px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb15{
    padding-top: 18px;
    padding-left: 72px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb16{
    padding-top: 18px;
    padding-left: 72px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb17{
    padding-top: 18px;
    padding-left: 105px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb18{
    padding-top: 18px;
    padding-left: 105px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb19{
    padding-top: 18px;
    padding-left: 75px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb20{
    padding-top: 18px;
    padding-left: 75px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb21{
    padding-top: 18px;
    padding-left: 75px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb22{
    padding-top: 18px;
    padding-left: 75px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb23{
    padding-top: 18px;
    padding-left: 75px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb24{
    padding-top: 18px;
    padding-left: 75px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb25{
    padding-top: 18px;
    padding-left: 75px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb26{
    padding-top: 18px;
    padding-left: 70px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb27{
    padding-top: 18px;
    padding-left: 75px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb28{
    padding-top: 18px;
    padding-left: 70px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb29{
    padding-top: 18px;
    padding-left: 65px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb30{
    padding-top: 18px;
    padding-left: 22px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb31{
    padding-top: 18px;
    padding-left: 65px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb32{
    padding-top: 18px;
    padding-left: 65px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb33{
    padding-top: 18px;
    padding-left: 65px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb34{
    padding-top: 18px;
    padding-left: 65px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb35{
    padding-top: 18px;
    padding-left: 65px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb36{
    padding-top: 18px;
    padding-left: 65px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb37{
    padding-top: 18px;
    padding-left: 155px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb38{
    padding-top: 18px;
    padding-left: 158px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb39{
    padding-top: 18px;
    padding-left: 90px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb40{
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 5px;
    margin-left: 50px;
}

.buttonb41{
    margin-top: 18px;
    margin-right: 5px;
}

.buttonb42{
    margin-right: 5px;
}

.buttonb43{
    margin-top: 18px;
    margin-left: 70px;
}

.buttonb47{
    margin-top: 18px;
    margin-left: 20px;
}

.button-content{
    height: 35px;
    width: 70px;
    border: 1px solid black;
    border-radius: 5px; 
    padding: 1px;
    background-color: darkorange;
    color: white;
    font-size: small;
    font-weight: bold;
}

.button-content:hover{
    background-color: black;
}

.chicken-box{
    border: 1px solid black;
    box-sizing: border-box;
    height: 130px; 
    width: 44.5%;
    display: flex;
}

.chicken-image img{
    padding-top: 10px;
    padding-left: 5px;
    height: 120px;
    width: 120px;
    border: none;
    border-radius: 15px;
}

.chicken-box-content p{
    padding-top: 18px;
    padding-left: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.chicken-box-content .rupee220{
padding-top: 5px;
color: lightgreen;
font-size: medium;
/* font-weight: bold; */
}


.button, .buttonb42{
    /* background-color: orange;
    color: white; */
    padding-top: 18px;
    padding-left: 100px;
}

.buttonb44{
    margin-top: 18px;
    margin-left: 64px;
}

.buttonb45{
    margin-top: 18px;
    margin-left: 42px;
}

.buttonb46{
    margin-top: 18px;
    margin-left: 100px;
}

.buttonb48{
    margin-top: 18px;
    margin-left: 95px;
}

.buttonb49{
    margin-top: 18px;
    margin-left: 70px;
}

.chicken-content{
    height: 35px;
    width: 70px;
    border: 1px solid black;
    border-radius: 5px; 
    padding: 1px;
    background-color: darkorange;
    color: white;
    font-size: small;
    font-weight: bold;
}

.button-content:hover{
    background-color: black;
}

.bread{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.bread p{
    font-size: 27px;
}

.right-side2 .bread-items{
    display: flex;
    gap: 10px;
}

.right-side .second-part{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.right-side .third-part{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.second-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.second-page .content-name{
    font-size: 27px;
}

.chicken-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.second-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.second-page-part3{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.second-page-part4{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.second-page-part5{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.second-page-part6{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.second-page-part7{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.third-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.third-page .content-name{
    font-size: 27px;
}

.third-page .dal-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.third-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.third-page-part3{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.third-page-part4{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.fourth-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.fourth-page .content-name{
    font-size: 27px;
}

.fourth-page .dessert-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.fourth-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.fifth-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.fifth-page .content-name{
    font-size: 27px;
}

.fifth-page .fish-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.fifth-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.sixth-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.sixth-page .content-name{
    font-size: 27px;
}

.sixth-page .rice-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.sixth-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.sixth-page-part3{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.seventh-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.seventh-page .content-name{
    font-size: 27px;
}

.seventh-page .momo-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.seventh-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.eightth-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.eightth-page .content-name{
    font-size: 27px;
}

.eightth-page .mutton-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.eightth-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.eightth-page-part3{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.eightth-page-part4{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.eightth-page-part5{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.ninth-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.ninth-page .content-name{
    font-size: 27px;
}

.ninth-page .mutton-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.ninth-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.ninth-page-part3{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.ninth-page-part4{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tenth-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.tenth-page .content-name{
    font-size: 27px;
}

.tenth-page .mutton-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tenth-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tenth-page-part3{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.eleventh-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.eleventh-page .content-name{
    font-size: 27px;
}

.eleventh-page .mutton-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.eleventh-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.eleventh-page-part3{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.twelth-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.twelth-page .content-name{
    font-size: 27px;
}

.twelth-page .mutton-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.twelth-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.twelth-page-part3{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thirteenth-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.thirteenth-page .content-name{
    font-size: 27px;
}

.thirteenth-page .mutton-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thirteenth-page-part2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thirteenth-page-part3{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thirteenth-page-part4{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thirteenth-page-part5{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thirteenth-page-part6{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.fourteenth-page .content-name{
    margin-top: 15px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.fourteenth-page .content-name{
    font-size: 27px;
}

.fourteenth-page .mutton-items{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.account-section{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    margin-top: 35px;
    display: flex;
    background-color: lightgrey;
}

.account-section .home-icon{
    padding-top: 30px;
    padding-left: 900px;
}
.account-section .details{
    align-items: center;
    justify-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 150px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.login-page{
    height: 600px;
    width: 100%;
    border: 1px solid black;
}

#login{
    margin-top: -17px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 550px;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#or{
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    font-size: 15px;
    font-weight: lighter;
    border: 1px solid lightgrey;
    border-radius: 40px;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    color: lightgrey;
}

.login-page #login #or{
    padding-top: -350px;
}

#register{
    color: lightgrey;
}

.login-page .login-box{
    margin-top: 20px;
    margin-left: 475px;
    height: 350px;
    width: 40%;
    border: 1px solid lightgrey;
}

.login-box .username{
    padding-top: 20px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: lightgrey;
    align-items: start;
    justify-items: start;
    margin-right: 30px;
}

.uoea{
    height: 40px;
    width: 275%;
    border: 1px solid lightgrey;
    overflow: hidden;
    display: flex;
    outline-style: none;
}

input[type="username or email address*"] {
    width: 100%;
    height: 40px;
    padding-right: 20px;
    outline-style: none;
}

.login-box .pw{
    padding-top: 0px;
    padding-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: lightgrey;
    align-items: start;
    justify-items: start;
    margin-right: 30px;
}

.pw{
    height: 40px;
    width: 275%;
    border: 1px solid lightgrey;
    overflow: hidden;
    display: flex;
    outline-style: none;
}

input[type="password*"] {
    width: 100%;
    height: 40px;
    padding-right: 20px;
    outline-style: none;
}

.rm{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
}

.lyp{
    /* background-color: lightblue; */
    margin-left: 430px;
    font-family: Arial, Helvetica, sans-serif;
}

.lyp:hover{
    color: lightblue;
}

.login-button{
    height: 20px;
    width: 100%;
    margin-left: 30px;
    margin-top: -30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: lightblue; */
}

.login-button .btn{
    color: white;
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: aqua;
}

.cart-page{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    margin-top: 0px;
    display: flex;
    background-color: lightgrey;
}

.cart-page .home-icon{
    padding-top: 30px;
    padding-left: 1100px;
}
.cart-page .cd{
    align-items: center;
    justify-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 150px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.cart-box{
    width: 100%;
    height: 850px;
    border: 1px solid black;
    display: grid;
}

.cart-box .crying-icon{
    /* height: 75px;
    width: 75px; */
    /* border: 1px solid black; */
    margin-top: 35px;
    padding-left: 670px;
    /* overflow: hidden; */
    /* align-items: center;
    justify-items: center; */
    /* font-family: Arial, Helvetica, sans-serif; */
}

.crying-icon i{
    font-size: 70px;
}

.cart-box .cart-info{
    margin-top: -65px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.cart-info{
    margin-left: 620px;
    margin-top: 30px;
}

.cart-box .ic{
    margin-top: -70px;
    margin-left: 660px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    display: flex;
}

.checkout-box{
    display: flex;
    justify-content: space-evenly;
    /* gap: -45px; */
}

.four-items1{
    /* display: flex; */
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin-top: 25px;
}

.four-items1 .box1 img{
    height: 270px;
    width: 100%;
}

#mmm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    margin-top: 55px;
    padding-left: 47px;
    padding-right: 17px;
}

#mmm:hover{
    color: aqua;
}

.four-items1 p{
    margin-top: 10px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: lightgreen;
}

.bt1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(19, 175, 240);
    height: 38px;
    width: 45%;
    border: 1px solid white;
    border-radius: 30px;
    margin-left: 65px;
    margin-top: 7px;
    padding-left: 5px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-top: 8px;
}

.four-items2{
    /* display: flex; */
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin-top: 25px;
}

.four-items2 .box2 img{
    height: 270px;
    width: 100%;
}

#kad{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: 55px;
    padding-left: 70px;
    padding-right: 17px;
}

#kad:hover{
    color: aqua;
}

.four-items2 p{
    margin-top: 10px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: lightgreen;
}

.bt2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(19, 175, 240);
    height: 38px;
    width: 45%;
    border: 1px solid white;
    border-radius: 30px;
    margin-left: 75px;
    margin-top: 7px;
    padding-left: 5px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-top: 8px;
}

.four-items3{
    /* display: flex; */
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin-top: 25px;
}

.four-items3 .box3 img{
    height: 270px;
    width: 100%;
}

#ptm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: 55px;
    padding-left: 70px;
    padding-right: 17px;
}

#ptm:hover{
    color: aqua;
}

.four-items3 p{
    margin-top: 10px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: lightgreen;
}

.bt3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(19, 175, 240);
    height: 38px;
    width: 45%;
    border: 1px solid white;
    border-radius: 30px;
    margin-left: 75px;
    margin-top: 7px;
    padding-left: 5px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-top: 8px;
}

.four-items4{
    /* display: flex; */
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin-top: 25px;
}

.four-items4 .box4 img{
    height: 270px;
    width: 100%;
}

#pl{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: 55px;
    padding-left: 73px;
    padding-right: 17px;
}

#pl:hover{
    color: aqua;
}

.four-items4 p{
    margin-top: 10px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: lightgreen;
}

.bt4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(19, 175, 240);
    height: 38px;
    width: 45%;
    border: 1px solid white;
    border-radius: 30px;
    margin-left: 75px;
    margin-top: 7px;
    padding-left: 5px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-top: 8px;
}



#check{
    display: none;
}


@media (max-width:430px){

.container img{
    margin-left: -75px;
}    

#icons2{
    display: block;
}


.container .icons{
    display: none;
}
.container nav ul{
    display: none;

}


#check:checked~.container nav ul{
    display: block;
    width: 100%;
    background-color: blanchedalmond;
    position: absolute;
    top: 18%;
    left: 0px;
    padding-left: 0%;
    text-align: center;
    line-height: 30px;
}

.biryani-items .button{
    width: -10%;
}

.first-page{
    width: 100%;
    display: block;
    gap: 50px;
    /* align-items: flex-start; */
}

.food-items{
    margin-top: 70px;
    margin-left: 10px;
    height: 672px;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: sticky;
    top: 50px;
}

.first-page .right-side .search-box{
    position: relative;
    height: 50px;
    width: 120%;
    margin-left: 30px;
    margin-top: 70px;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 15px;
    overflow: hidden;
}

.right-side .biryani-items, .right-side2 .bread-items,.right-side .second-part, .right-side .second-page .chicken-items, .second-page .second-page-part2, .second-page-part3, .second-page-part4, .second-page-part5, .second-page-part6, .right-side .third-page .dal-items, .right-side .third-page-part2, .right-side .third-page-part3, .fourth-page .dessert-items, .fifth-page .fish-items, .right-side .fifth-page-part2, .sixth-page .rice-items, .right-side .sixth-page-part2, .seventh-page .momo-items, .right-side .seventh-page-part2, .eightth-page .mutton-items, .right-side .eightth-page-part2, .right-side .eightth-page-part3, .right-side .eightth-page-part4, .ninth-page .mutton-items, .right-side .ninth-page-part2, .right-side .ninth-page-part3, .right-side .ninth-page-part4, .tenth-page .mutton-items, .right-side .tenth-page-part2, .right-side .tenth-page-part3, .eleventh-page .mutton-items, .right-side .eleventh-page-part2, .twelth-page .mutton-items, .right-side .twelth-page-part2, .thirteenth-page .mutton-items, .right-side .thirteenth-page-part2, .right-side .thirteenth-page-part3,.right-side .thirteenth-page-part4, .right-side .thirteenth-page-part5, .fourteenth-page .mutton-items{
    display: block;
    gap: 10px;
}

.biryani, .bread, .second-page .content-name, .third-page .content-name, .fourth-page .content-name, .fifth-page .content-name, .sixth-page .content-name, .seventh-page .content-name, .eightth-page .content-name, .ninth-page .content-name,.tenth-page .content-name, .eleventh-page .content-name, .twelth-page .content-name, .thirteenth-page .content-name, .fourteenth-page .content-name{
    margin-top: 12px;
    margin-left: 20px;
    /* margin-left: -260px; */
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}

.mutton-box, .chicken-box, .pk-box{
    margin-left: 20px;
    margin-top: 7px;
    border: 1px solid black;
    box-sizing: border-box;
    height: 130px; 
    width: 127%;
    display: flex;
}

.bread-items{
    display: block;
}

.naan-box{
    /* display: flexbox; */
    margin-top: 7.5px;
    margin-left: 20px;
    width: 127%;
}

.mk-box{
    margin-top: -2px;
    margin-left: 20px;
    width: 127%;
}

.mk-box .button, .pk-box .button{
    margin-left: 54.5px;
}

.third-part .mutton-box{
    margin-top: -3px;
    /* width: 430px; */
}

.third-part .mutton-box .button{
    width: 87.5%;
    margin-left: 46px;
    margin-right: 29px;
    position: relative;
}

.second-page .chicken-items .mutton-box .button{
    margin-left: 45.5px;
}

.second-page .chicken-items .mutton-box .buttonb2{
    margin-left: -58px;
}

.second-page .second-page-part2 .mutton-box .button{
    margin-left: 45.5px;
}

.second-page .second-page-part2 .mutton-box .buttonb3{
    margin-left: -55px;
}

.second-page .second-page-part3 .mutton-box .button{
    margin-left: 45.3px;
}

.second-page .second-page-part3 .mutton-box .buttonb4{
    margin-left: -53px;
}

.buttonb5{
    margin-left: -60px;
}

.buttonb6, .buttonb7, .buttonb8, .buttonb9{
    margin-left: -59.5px;
}

.second-page-part6 .mutton-box .button{
 margin-left: 45.5px;
}

.second-page-part7{
margin-top: 2px;
}

/* .second-page-part7 .mutton-box{
    width: 150vh;
} */

.second-page-part7 .button{
    margin-right: 30px;
    margin-left: 45.5px;
}

.third-page .dm-box{
    margin-left: 20px;
    margin-top: 9px;
   width: 127%;
}

.third-page .dm-box .button{
    margin-left: 58px;
}

.third-page-part2 .mutton-box .buttonb10{
    margin-left: -25.5px;
}

.third-page-part2 .mutton-box .buttonb11, .buttonb13{
    margin-left: -52.5px;
}

.buttonb12{
    margin-left: -52.5px;
}

.buttonb14, .buttonb15{
    margin-left: -58.5px;
}

.buttonb16{
    margin-left: -51.5px;
}

.buttonb17{
    margin-left: -15px;
}

.buttonb18{
    margin-left: -19px;
}

.buttonb19, .buttonb20, .buttonb21, .buttonb22{
    margin-left: -60.5px;
}

.buttonb23{
    margin-left: -50.5px;
}

.buttonb24{
    margin-left: -54.5px;
}

.buttonb25{
    margin-left: -52px;
}

.buttonb26{
    margin-left: -62px;
}

.buttonb27{
    margin-left: -45px;
}

.buttonb28{
    margin-left: -62.5px;
}

.buttonb29, .buttonb31, .buttonb32, .buttonb33, .buttonb34, .buttonb35{
    margin-left: -62px;
}

.buttonb36{
    margin-left: -32.5px;
}

.buttonb37{
    margin-left: -62.5px;
}

.buttonb38{
    margin-left: -62px;
}

.buttonb39{
    margin-left: -63px;
}

.buttonb30{
    margin-left: 2.5px;
}

.buttonb43{
    margin-left: -40px;
    margin-right: 2.5px;
}

.buttonb44{
    margin-left: 15px;
    margin-right: 2.5px;
}

.buttonb45{
    margin-right: 2.5px;
}

.third-page-part4 .mutton-box{
    margin-top: 1px;
}

.chicken-box .button{
    margin-left: 45.5px;
}

.bread-items .mutton-box .button{
    margin-left: 33px;
}

.mutton-box-content p{
    display: block;
    padding-top: 18px;
    padding-left: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.button{
    /* background-color: orange;
    color: white; */
    padding-top: 18px;
    padding-left: 19px;
    padding-right: 5px;
    margin-left: 50px;
    position: relative;
}

.buttonb1{
    position: relative;
    margin-left: -63.5px;
}

.buttonb40{
    margin-left: 5px;
    margin-right: -2px;
}

.buttonb41{
    margin-left: 25.5px;
    margin-top: 18px;
    margin-right: 3.5px;
}

.buttonb42{
    margin-left: -57px;
}

.buttonb46{
    margin-left: -10px;
    margin-right: 2.5px;
}

.buttonb47{
    margin-left: -20px;
    margin-right: 2.5px;
}

.buttonb48{
    margin-left: -12px;
    margin-right: 2.5px;
}

.buttonb49{
    margin-left: -10px;
    margin-right: 2.5px;
}


.sixth-page-part3 .mutton-box .button{
    margin-left: 52px;
}

.eightth-page-part3 .mutton-box .button{
    margin-left: 17.5px;
}

.eleventh-page .mutton-items .button{
    margin-left: 23.5px;
}

.eleventh-page-part2 .mutton-box .button{
    margin-left: 61.5px;
}

.eleventh-page-part3 .mutton-box .button{
    margin-left: 52.5px;
}

.twelth-page .mutton-items .button{
    margin-left: 63px;
}

.twelth-page-part2 .button{
    margin-left: 72.5px;
}

.twelth-page-part3 .button{
    margin-left: 19.5px;
    /* margin-right: 1px; */
}

.thirteenth-page .mutton-items .button{
    margin-left: 57px;
}

.thirteenth-page-part2 .button, .thirteenth-page-part3 .button{
    margin-left: 55.5px;
}

.thirteenth-page-part4 .button{
    margin-left: 55px;
}

.thirteenth-page-part6 .button{
    margin-left: 18px;
    margin-right: 200.9px;
}

.thirteenth-page-part5 .button{
    margin-left: -2px;
    margin-right: -2px;
}

.rice-items .mutton-box .button, .sixth-page-part2 .button{
    margin-left: 67.5px;
}

.fourth-page .mutton-box .button{
    margin-left: 61.5px;
}

.fourth-page-part2 .mutton-box{
    margin-top: 0.5px;
}

.fourth-page-part2 .mutton-box .button{
    margin-left: 66.5px;
    /* margin-right: -7px; */
}

.account-section{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    display: grid;
}

.account-section .details{
    margin-left: -130px;
    margin-top: 10px;
    /* margin-right: 10px; */
    margin-bottom: 50px;
    font-size: 20px;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
}

.account-section .home-icon{
    display: flex;
    margin-left: -630px;
    margin-top: -195px;
    /* margin-right: 10px; */
    margin-bottom: 50px;
    font-size: 15px;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
}

#login{
    margin-left: -450px; 
    margin-top: 20px;
    font-size: larger;
}

#or{
    font-size: small;
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding-left: 3.5px;
    padding-bottom: 3.5px;
    padding-right: 3.5px;
    padding-top: 3.5px;
}

.login-page #login, #register{
    font-size: larger;
}

.login-page .login-box{
    margin-left: 25px;
    height: 430px;
    width: 350px;
    border: 1px solid lightgray;
}

.username{
    margin-top: 70px;
}

.uoea, .pw{
    height: 30px;
    width: 140%;
}

.lyp{
    margin-left: 172px;
    font-size: small;
    font-weight: bold;
}

.rm{
    margin-left: 20px;
}

.cart-page .cd{
    margin-left: -130px;
    font-size: large;
    margin-top: 7px;
}

.cart-page .home-icon{
        display: flex;
        margin-left: -835px;
        margin-top: 25px;
        margin-bottom: 50px;
        font-size: 15px;
        padding-top: 25px;
        align-items: center;
        justify-content: center;
}

.crying-icon{
    margin-left: -500px;
}

.cart-info{
    margin-left: 110px;
}

.cart-box .ic{
    margin-left: 145px;
}

.four-items1 .box1 img,.four-items2 .box2 img, .four-items3 .box3 img, .four-items4 .box4 img{
    display: flex; 
    justify-content: space-evenly; 
    height: 175px;
    width: 60%;
}

.four-items1 .box1 img{
    margin-left: 5px;
}

#mmm{
    font-size: 10px;
    margin-left: -26px;
}

.four-items1 .rupee220{
    margin-left: 77px;
}

.four-items1 .bt1{
    margin-left: 35px;
}

.four-items2 .box2 img{
    margin-left: -89px;
}

#kad{
    font-size: 10px;
    margin-left: -125px;
}

.four-items2 .rupee220{
    margin-left: -30px;
}

.four-items2 .bt2{
    margin-left: -70px;
}

.four-items1, .four-items2{
    margin-top: -80px;
}

.checkout-box .four-items3, .four-items4{
    display: grid;
    margin-top: 240px;
}

.four-items3 .box3 img{
    margin-left: -595px;
}

#ptm{
    font-size: 10px;
    margin-left: -640px;
}

.four-items3 .rupee220{
    margin-left: -530px;
    margin-top: -15px;
}

.four-items3 .bt3{
    margin-left: -570px;
    margin-top: -20px;
}

.four-items4 .box4 img{
    margin-left: -690px;
}

#pl{
    font-size: 10px;
    margin-left: -720px;
}

.four-items4 .rupee220{
    margin-left: -620px;
    margin-top: -18px;
}

.four-items4 .bt4{
    margin-left: -670px;
    margin-top: -22px;
}

.food-items{
    position: relative;
    top: 0px;
}

.cart-box{
    width: 100%;
    height: 850px;
    border: 1px solid black;
    display: none;
    flex-wrap: wrap;
}

.checkout-box{
    display: none;
    flex-wrap: wrap;
}

.cart-box .crying-icon{
    padding-left: 0px;
    margin: 0px;
    width: 200px;
}

.cart-info{
    margin-left: 0px;
    margin-top: 30px;
     margin: 0px;
    width: 200px;
}

.cart-box .ic{
    margin-top: -70px;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    display: flex;
     margin: 0px;
    width: 200px;
}

}